[mysqld]
innodb_buffer_pool_size = 5500MB # (adjust value here, 50%-70% of total RAM)
innodb_log_file_size = 1G
innodb_flush_log_at_trx_commit = 1 # may change to 2 or 0
innodb_flush_method = O_DIRECT
innodb_strict_mode = OFF

internal_tmp_disk_storage_engine = MyISAM

#require_secure_transport = on

thread_handling = pool-of-threads

max_connections = 900